@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');
body {
    background: url(../img/bg-white.jpg) no-repeat;
    background-size: 100% 1200px;
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
}
h1 {
    font-family: 'Marck Script', cursive;
    font-size: 250px;
    color: rgb(51, 31, 31);
}
h2 {
    font-size: 64px;
}
h3 {
    font-size: 42px;
}
h4 {
    font-size: 36px;
}
.header {
    position: fixed;
    width: 100%;
    padding-top: 40px;
    top: 0;
    transition: 0.2s;
    padding-bottom: 20px;
    z-index: 9999;
}
.header-active {
    background: gray;
    opacity: 0.95;
}
.header-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.header-item {
    padding-left: 80px;
}
.header-link-button {
    border-radius: 55px;
    border: 2px solid black;
    background: transparent;
    color: white;
    padding: 10px 20px;
    font-size: 24px;
    text-decoration: none;
    color: black;
}
.header-link-button:hover {
    opacity: 0.7;
}
.company-name {
    padding-top: 350px;
    margin-bottom: 420px;
    color: #ffffffe6;
}
.company-title {
    display: flex;
    justify-content: center;
    padding-bottom: 80px;
}
.company-desc-text {
    display: flex;
    justify-content: center;
    font-size: 46px;
    color: rgb(51, 31, 31);
}
.about-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 55px;
    margin-left: 10%;

}
.about-card {
    grid-column: span 1;
}
.about-us-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 60px;
}
.about-card-title {
    padding-left: 20px;
}
.about-card-pic {
    display: flex;
    align-items: center;
    justify-content: start;
}
.about-picture {
    width: 100px;
    height: 100px;
}
.about-desc {
    font-size: 26px;
    padding-top: 30px;
    max-width: 80%;
}
.line {
    display: block;
    width: 35%;
    height: 6px;
    background-color: gray;
    position: absolute;
    margin-top: 10px;
}
.products {
    margin-top: 100px;
    margin-right: 8%;
}
.products-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}
.products-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    padding-bottom: 150px;
}
.product-pic {
    grid-column: span 1;
    width: 28vw;
    height: 38vh;
    max-height: 300px;
    max-width: 420px;
    border-radius: 30px;
    margin-left: 12%;
    transition: 0.5s;
}
.product-pic:hover {
    transform: scale(1.2);
}
.product-desc-text {
    padding-top: 20px;
    font-size: 24px;
    padding-bottom: 30px;
}
.flour {
    font-size: 24px;
    line-height: 40px;
}
.wheat-img {
    width: 30px;
}
.benefits-title {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
}
.benefits-cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 30px;
    margin-left: 50px;
}
.benefits-card {
    grid-column: span 2;
    width: 80%;
    padding-top: 40px;
    padding-bottom: 60px;
}
.benefits-card-pic {
    width: 90px;
    height: 90px;
    padding-bottom: 15px;
    padding-left: 40%;
}
.why-title {
    display: flex;
    justify-content: center;
}
.benefits-card-desc {
    text-align: center;
    padding-top: 15px;
    font-size: 22px;
}
.benefits-card-second {
    margin-top: 40px;
    grid-column: span 3;
}
.weizen-pic {
    width: 90px;
    height: 90px;
}
.footer {
    background-color: rgb(56, 47, 47);
    margin-top: 50px;
    color: white;
}
.footer-block {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 70px;
    padding-bottom: 70px;
    font-size: 36px;
}
.footer-logo {
    font-size: 76px;
    color: white;
}
.footer-logo {
font-family: 'Marck Script', cursive;
}
.phone-pic {
    width: 120px;
    height: 120px;
    margin: -200px 0 30px 0;
}
.container {
    width: 450px;
    height: 600px;
    margin-top: 200px;
    margin-bottom: 150px;
    border: 5px solid lightgray;
    border-radius: 20px;
    background-color: gainsboro;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.contact-form {
    display: flex;
    justify-content: center;
}
.btn-primary {
    padding: 18px 40px;
    margin: 5px 0 20px 0;
    font-size: 24px;
    color: white;
    background-color: gray;
    border: none;
    border-radius: 10px;
}
.btn-primary:hover {
    transition: all 0.5s;
    background: #606A6A ;
}
input {
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 10px;
    padding-left: 40px;
}
.message {
    width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 10px;
    padding-left: 10px;
    padding-bottom: 80px;
}
.col-form-label {
    font-size: 24px;
}
.fas {
    position: absolute;
    font-size: 30px;
    padding: 15px 0 0 7px;
    color: gray;
}
.form-control {
    border: 1px solid gray;
}
input:hover {
    background-color: #f8f8f8;
    transition: 0.2s;
}
.message:hover {
    background-color: #f8f8f8;
    transition: 0.2s;
}
.text-center {
    font-family: 'Marck Script', cursive;
    font-size: 280px;
    color: black;
    padding-top: 40vh;
}
.thanks-text {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 60px;
    color: black;
    padding-left: 20vw;
} 
.home-button {
    font-size: 46px;
    color: black;
    border: 2px solid black;
    border-radius: 50px;
    text-decoration: none;
    padding: 10px 15px;
    transition: 0.3s;
}
.home-button:hover {
    color: black;
    transform: scale(1.3);
    text-decoration: none;
}
.nav {
    display: flex;
    justify-content: center;
}
.footer-thanks {
    width: 100%; 
    height: 150px;
    margin-top: 80px;
    background-color: rgb(56, 47, 47);
}
.footer-row-thanks {
    display: flex;
    justify-content: space-between;
}
.mail-footer-thanks {
    color: white;
    font-size: 36px;
    padding-top: 40px;
    padding-right: 80px;
}
.footer-logo-thanks-con {
    font-family: 'Marck Script', cursive;
    padding-left: 80px;
    padding-top: 20px;
    font-size: 84px;
    color: white;
}
.footer-logo-thanks {
    color: white;
}
.footer-logo-thanks:hover {
    color: white;
    opacity: 0.7;
    text-decoration: none;
}
@media screen and (max-width: 1000px) {
    .header-item {
        padding-left: 30px;
    }
    h1 {
        font-size: 150px;
    }
    .company-desc-text {
        font-size: 30px;
    }
    body {
        background-size: 100% 800px;
    }    
    .company-name {
        padding-top: 350px;
        margin-bottom: 250px;
    }
    .product-pic {
        grid-column: span 1;
        width: 28vw;
        height: 20vh;
    }
    .mail {
        font-size: 26px;
    }

}
@media screen and (max-width: 767px) {
    .header-active {
        display: none;
    }
    .about-card {
        grid-column: span 2;
    }
    body {
        background: url(../img/bg.jpg) no-repeat;
        background-size: 700px 500px;
    }
    h1 {
        font-size: 68px;
    }
    .header-nav {
        display: none;
    }
    .company-title {
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
    }
    .company-name {
        padding-top: 150px;
        margin-bottom: 190px;
    }
    .company-desc-text {
        font-size: 26px;
        padding-left: 20px;
    }
    h2 {
        font-size: 36px;
    }
    .about-us-title {
        margin-bottom: 30px;
    }
    h3 {
        font-size: 28px;
    }
    .about-card {
        margin-bottom: 50px;
    }
    .line {
        width: 80%;
    }
    .products {
        margin-top: 40px;
    }
    .product-desc {
        grid-column: span 2;
    }
    .product-pic {
        grid-column: span 2;
        height: 100%;
        width:100%;
        margin-left: 10px;
    }
    .product-name {
        margin-left: 65px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .product-desc-text {
        margin-left: 30px;
    }
    .wheat-products {
        margin-left: 30px;
    }
    .benefits-card {
        grid-column: span 3;
        margin-right: 50px;
    }
    .benefits-card-pic {
        top: 0;
        left: 0;
    }
    .why-title {
        padding-left: 60px;
    }
    .benefits-card-desc {
        display: none;
    }
    .contact-form {
        margin: auto;
    }
    .footer {
        width: 500px;
    }
    .footer-block {
        display: flex;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 14px;
    }
}
